# Java etc
*.class
*.jar
# Python
*.pyc
__pycache__
# OCaml
*.cm*
# C
*.o
a.out
# OSX
.DS_Store
._*
# Windows
*.exe
# Vim/Emacs/etc
*~
.*.sw*
# Tmp
*.log
anagram
log
.cookies
# Binaries
jq
# Sbt
target/
project/
