h1 { text-align: center}

#user-menu {
    width: 200 px;
    margin : 10px;
    float : left;
}

#user-menu ul {
    list-style: none;
    margin : 0;
    padding : 0;
}

#user-menu ul button {
    color : #900;
    border: 1px solid #900;
    font-weight : bold;
    margin: 2px;
}

#content label {
	display: block;
	width: 150px;
	float: left;
}